{% extends 'base.html.twig' %}

{% block title %}
    {% trans %} default.index.title {% endtrans %}
{% endblock %}

{% block body %}
    <div class="card col-md-12">
        <div class="card-header">
            <h1><i class="fas fa-home"></i> {% trans %} default.index.title {% endtrans %} </h1>
        </div>
        <div class="card-body">
            <div class="card clickable" onclick="location = 'boutique'">
                <img src={{asset('images/epicerie.jpg')}} class="card-img-top" alt="Logo Boutique Symfony"/>
                <div class="card-body">
                    <p class="card-text"><i> {% trans %} default.index.message {% endtrans %} </i></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
