{% extends 'base.html.twig' %}

{% block title %}
	{% trans %} boutique.index.title {% endtrans %}
{% endblock %}

{% block body %}
	<div class="card col-md-12">
		<div class="card-header">
			<h1>
				<i class="fas fa-store"></i>
				{% trans with {
					'nbCategory': categories|length
				}%} boutique.index.nbCategoryMessage {% endtrans %}
			</h1>
		</div>
        <div class="card-body row">
        {% for category in categories %}
			<div class="col-md-3">
				<div class="card clickable" onclick="location = '{{ path('app_boutique_rayon', {'idCategorie': category.id}) }}'">
					<img src='{{asset(category.visuel)}}' class="card-img-top" alt="Fruits">
					<div class="card-body">
						<h4 class="card-title">{{category.libelle}}</h4>
						<p class="card-text">
							<i>{{category.texte}}</i>
						</p>
					</div>
				</div>
			</div>
        {% endfor %}
        </div>
	</div>
{% endblock %}
